/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-3 {
    height: 700px;
    width: 200px;
    border: 14px;
    background-color: rgb(236, 236, 145);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    border-radius: 9px;
    margin: 12px;
    box-shadow: 0 2px 2px rgb(0, 0, 0);
    
}
.example-card {
    height: 400px;
    margin-bottom: 28px;
}

.card-style-3 img {
    height: auto;
    margin: auto;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
        
}
